 <div class="field">
   <!--  <%= f.label :fullname %> -->
    <%= f.text_field :name, :placeholder=>"Fullname" %>
  </div>


  <div class="field">
   <!--  <%= f.label :username %> -->
    <%= f.text_field :username, :placeholder=>"Username" %>
  </div>


  <div class="field">
 <!--    <%= f.label :email %> -->
    <%= f.text_field :email, :placeholder=>"Email" %>
  </div>

  <div class="field"><!-- 
    <%= f.label :password %> -->
    <%= f.password_field :password, :placeholder=>"Password" %>
  </div>
  <div class="field" placeholder="password"><!-- 
    <%= f.label :password_confirmation %> -->
    <%= f.password_field :password_confirmation, :placeholder=>"Password Confirmation" %>
  </div>

  <div class="field"><!-- 
    <%= f.label :usertype %> -->
    <%= f.select :usertype,  options_for_select([["I want to be a",""],["Tutor", "Tutor"], ["Tutee", "Tutee"]], :selected =>@user.usertype) %>
  </div>


  <div class="field"><!-- 
    <%= f.label :gender %> -->
    <%= f.select :gender, options_for_select([["I am",""],["Female", "Female"], ["Male", "Male"], ["Others", "Others"]], :selected =>@user.gender) %>
  </div>


  <div class="field"><!-- 
    <%= f.label :birthday %> -->
    <%= f.text_field :birthday, :placeholder=>"Birthday" %>

  <div class="field"><!-- 
    <%= f.label :location %> -->
    <%= f.text_field :location, :placeholder=>"Location" %>

  <div class="field"><!-- 
    <%= f.label :description %> -->
    <%= f.text_area :description, :placeholder=>"Brief Description" %>
  </div>

  <%= f.hidden_field :rating ,:value=>0 %>

  <div class="actions"><%= f.submit %></div>