<!-- 

            <%= f.text_field :title, :placeholder=>"From Date" %>
            <%= f.text_field :title, :placeholder=>"From Time" %>
            <%= f.text_field :title, :placeholder=>"Until Time" %>
            <%= f.text_field :title, :placeholder=>"Until Date" %>


            <%= f.text_field :title, :placeholder=>"All Day" %>
            <%= f.text_field :title, :placeholder=>"Repeat..." %>
            <%= f.text_field :title, :placeholder=>"Where" %>


       
 -->
 <!--
          <%= f.text_field :title, :placeholder=>"Title" %><br>
          From <!-- <input class="inputDate" id="fromDate" value="02/25/2013" /> -->
         <!-- <%= f.text_field :title, :placeholder=>"02/25/2013", :class=>"inputDate", :id=>"inputDate" %>
          <%= f.text_field :title, :placeholder=>"Time", :class=>"inputs" %><br>
          TO <input class="inputDate" id="untilDate" value="02/25/2013" />
            <%= f.text_field :title, :placeholder=>"Time", :class=>"inputs" %>
          <%= f.text_field :title, :placeholder=>"02/25/2013", :class=>"untilDate", :id=>"untilDate" %>
-->
            <br><br>
         <!-- <%= f.text_field :title, :placeholder=>"Title" %><br>
          FROM
          <input type="text" class="inputDate" id="inputDate" value="2013/02/25"/> 
          <%= f.time_select :title, :placeholder=>"Time", :class=>"inputDate" %><br>
          TO<input class="fromDate" id="fromDate" value="2013/02/25" />
          <%= f.time_select :title, :placeholder=>"Time", :class=>"inputs" %><br>
       

          <%=f.text_field :end, :class=>"inputDate", :id=>"inputDate" %><br>

          <%= f.text_field :title, :placeholder=>"Location" %><br>
        -->
<!-- 
          <label id="closeOnSelect"><input type="checkbox" /> Close on selection</label>


          
          <div class="field">
            <%= f.label :value=>@request.getMaxID %> 
            <%= f.hidden_field :requestID, :value=>@request.getMaxID %>
         </div>

         <div class="field">
            <%= f.label :value=>@request.getMaxID %> 
            <%= f.hidden_field :tutorID, :value=>0 %>
         </div>



         <div class="field">
            <%= f.hidden_field :tuteeID, :value=>session[:user_id] %>
         </div>

         <div class="field">
            <%= f.label :End %><br />
            <%= f.text_field :end %><p>
        </p>
        </div>
        <div class="field">    <%= f.hidden_field :status , :value=>"Pending"%>
        </div>
 -->