<br>
<div class="row well"><br><br><br>
  <div class="span12" style="background-color:#f5f5f5; align:center; margin-left:230px;float:">
    <div class="row">
      <div class="span4 "><br>
          <div class="container-profile-left sidebar-nav well">
          Welcome to GuruLang, <strong> <%= current_user.username %>!</strong>
        <li class="links"><%= link_to "View My Profile", profile_path %></li>

      </div>
      <div class="container-profile-left sidebar-nav well ">
            <ul class= "nav nav-list">
            <li class=""> <%= link_to 'Dashboard', prof_path %> </li>
               <% if current_user.usertype == 'Tutor' %>
            <li class=""> <%= link_to 'Notifications', requestNotif_path %> </li>
            <li class=""> <%= link_to 'My Schedules', myScheduleList_path %> </li>
              <li class=""> <%= link_to 'View Tutees', tuteeList_path %> </li>
              <li class=""> <%= link_to '*Add New Schedule', addSched_path %> </li>
               <% else %>
            <li class=""> <%= link_to 'My Requests', myRequestList_path %> </li>
              <li class=""> <%= link_to 'View Tutors', tutorList_path %> </li>
              <li class=""> <%= link_to '*Add New Request', addRequest_path %> </li>
               <% end %>
               <li class="divider"></li>
            <li class=""> <%= link_to 'View Classes', tutorsList2_path %> </li>
            <li class=""> <%= link_to 'Schedule', tutorsList2_path %> </li>
          <li class="divider"></li><!-- 
          <li><a href="#">Library</a></li>
          ... -->
        </ul>
      </div>
     </div>
      <div class="span8"><br>
        <div class="well">
            <!-- ENTER CONTENTS HERE -->



        </div>
      </div>
    </div>
  </div>
</div>
