<br>
<div class="row well"><br><br><br>
  <div class="span12" style="background-color:#f5f5f5; align:center; margin-left:230px;float:">
    <div class="row">
      <div class="span4 "><br>
          <div class="container-profile-left sidebar-nav well">
          Welcome to GuruLang, <strong> <%= current_user.username %>!</strong>
        <li class="links"><%= link_to "View My Profile", profile_path %></li>

      </div>
      <div class="container-profile-left sidebar-nav well ">
            <ul class= "nav nav-list">
            <li class=""> <%= link_to 'Dashboard', prof_path %> </li>
               <% if current_user.usertype == 'Tutor' %>
            <li class=""> <%= link_to 'Notifications', requestNotif_path %> </li>
            <li class="active"> <%= link_to 'My Schedule', myScheduleList_path %> </li>
              <li class=""> <%= link_to 'View Tutees', tuteeList_path %> </li>
              <li class=""> <%= link_to '*Add New Schedule', addSched_path %> </li>
               <% else %>
            <li class=""> <%= link_to 'My Requests', myRequestList_path %> </li>
              <li class=""> <%= link_to 'View Tutors', tutorList_path %> </li>
              <li class=""> <%= link_to '*Add New Request', addRequest_path %> </li>
               <% end %>
               <li class="divider"></li>
            <li class=""> <%= link_to 'View Classes', tutorsList2_path %> </li>
            <li class=""> <%= link_to 'Schedule', tutorsList2_path %> </li>
          <li class="divider"></li><!-- 
          <li><a href="#">Library</a></li>
          ... -->
        </ul>
      </div>
     </div>
      <div class="span8"><br>
        <div class="well">
          <center> <H3> My Schedule  </H3> </center>

            <table class="table table-hover">
              <tr>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
              <th> </th>
              <th> </th>
              </tr>
             
            <% @mySchedules.each do |schedule| %>
              <tr>
                <td><%= schedule.day %></td>
                <td><%= schedule.start %></td>
                <td><%= schedule.end %></td>
                <td><%= link_to 'Show', schedule %></td>
                  <td><%= link_to 'Delete', schedule, :confirm => 'Are you sure?',
                                                   :method => :delete %> </td>
                  <td><%=  button_to 'DeleteHen', myScheduleList_path,
                                                  {:controller=>"schedules", 
                                                    :confirm => 'Are you sure?',
                                                    :action => "delete"
                                                    :id=>schedule.id} 
                                                  %></td>
            
             </tr>
            <% end %>
            </table>

            <!-- :controller, :action(method), :params -->

          <div>


        </div>
      </div>
    </div>
  </div>
</div>


